<h1>Click the word!</h1>

<form action="/output">
  <div class="form-group">
<button class="btn btn-success" id="w1" name="word1" type="text">word1 </button>
<button class="btn btn-success" id="w1" name="word2" type="text">word2 </button>
</form>
