<h1>Click the word!</h1>

<form action="/output">
  <div class="form-group">
    <label for="word1">Word 1</label>
    <input id="w1" name="word1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="w2">word 2</label>
    <input id="w" name="word2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
